body {
    font-family: calibri;
    background-color: white;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 50px;
    width: 100px;
}

.c1{
    font-family: calibri;
    font-size: 300%;
    color: pink;
}
.container {
                    max-width: 800px;
                    margin:0 auto;
                    color: green;
                    font-family: calibri;
                    padding-top: 60px;
                    padding-right: 20px;
                    padding-left: 10px;
}
