body {
    font-family: calibri;
    background-color: white;
    margin-top: 75px;
}

h3 {
 color:#03A9F4;   
}

h1{
    color: #de9426;
}
.center {
    text-align: center;
}
.left{
    float:left;
}
.right{
    float:right;
}
.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.o{
    width:100px;
    height:75px;
}
.dev{
    width:200px;
    height:200px;
}
.c1{
    font-family: calibri;
    font-size: 100%;
    color: pink;
}
.container {
    max-width: 500px;
    margin-left: 100px;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-right: 200px;
    border-style: solid;
}
