body {
    font-family: calibri;
    background-color: white;
    margin-top: 75px;
}

h3 {
 color:#03A9F4;   
}

h1{
    color: #de9426;
}
.center {
    text-align: center;
    padding-left: 625px;
    padding-top: 100px;
}
.left{
    float:left;
       margin-left:200px;
}
.right{
    float:right;
    margin-right:100px;
}
.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.o{ 
 
    width:400px;
    height:150px;
}
.dev{
    width:400px;
    height:300px;
  transform: rotate(180deg);
}
.dev2{
    width:400px;
    height:auto;
  transform: rotate(270deg);
}
.c1{
    font-size: 100%;
    color: pink;
}
.container {
    float: left;
    max-width: 500px;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-left: 100px;
    border-style: solid;
}
.logo{
    font-size:200%;
    color: #de9426;
}
.welcome {
    text-align: center;
}
.header{
    max-width:200px;
    text-align:center;
    margin:0 auto;
}
.special{
    width:500px;
    float: left;
    padding:20px;
    margin-left: 100px;
    border-style: solid;
}